@import "tailwindcss";

.font-space-grotesk {
  font-family: var(--font-space-grotesk), Arial, sans-serif;
}

.font-spaceMono {
  font-family: var(--font-space-mono), Arial, sans-serif;
}
.font-barrio {
  font-family: var(--font-barrio), Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px; 
  /* Offset for fixed floating navbar */
}

body {
  background-color: white;
  color: #171717;
  font: var(--font-spaceMono), var(--font-space-grotesk), Arial, sans-serif;
}

/* Hide Scrollbar Utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, #f3f4f6 25%, #e5e7eb 50%, #f3f4f6 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
